/* Styles go here */
:root {
    --skycolor:rgb(90, 162, 255)
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

body{
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5%;
}
#llistat, #attlist{
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5%;
}
.btns{
    margin-top:20px;
}
.btn{
    padding: 5px;
}
input.ranking{
    width: 100%;

    
}

.students{
    background: #FF5A5F;
    border: none;
    color: white;
    font-size: 20px;
}
.students:hover{
    background: rgb(255, 59, 66);
}
.tasks{
    background: #008489;
    border: none;
    color: white;
    font-size: 20px;
}
.tasks:hover{
    background: #016e72;
}
.col3{
    padding-left: 10px;
    padding-right: 10px;
    
}
#content{
    margin: 0 auto;
    width: 40%;
}
.morexp{
    background: var(--skycolor);
    border: none;
    color: white;
    font-size: 20px;
}
header {
    margin-bottom:20px;
}
.fields{
    margin-bottom: 5px;
}


table{
    background: white;
    border-radius:3px;
    border-collapse: collapse;
   
    margin: auto;
    max-width: 600px;
    padding:5px;
    padding-right: 10px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite; 
}
#llistat{
    
}
#attlist{
    height: 250px;
}
th{
    padding:0px;

    background: #1b1e24;
    color: white;
    padding: 4px;
    height: 75px;
}
 tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    height: 75px;

  }
   td {
    padding-right: 5px;
   }

  tr:first-child {
    border-top:none;
  }
   tr:last-child {
    border-bottom:none;
  }
   
   tr:nth-child(odd) td {
    background:#EBEBEB;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
 tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }