
  <form class="addStudent">
      <h1 class="studentTitle">Add Student</h4>
      <div class="studentContent">
        <div class="fields">
          <label class="textstudent">First name: </label>
          <input class="inStudent" type="text" name="firstname" id="firstname" value="Sergio">
        </div>
        <div class="fields">
          <label class="textstudent"> Last name: </label>
          <input class="inStudent" type="text" name="lastname" id="lastname" value="Martinez">
        </div>
        <div class="fields">
          <label class="textstudent">Default points: </label>
          <input class="inStudent" type="number" name="studentPoints" id="studentPoints" value="0">
        </div>
        <input type="submit" value="Submit" id="submit" class="btn adds">
    </div>
  </form>
